<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heycar.model.mapper.DealerMapper">

    <insert id="insert" parameterType="Dealer">
        INSERT INTO DEALER (ID) VALUES (#{id})
    </insert>

    <select id="selectById" parameterType="Dealer" resultType="Dealer">
        SELECT ID FROM DEALER WHERE ID = #{id} 
    </select>

</mapper>